# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cython debug symbols
cython_debug/

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Environments files
.env
*.env

# Pytest
.cache/

# alembic migration
alembic/versions/

# SQLAlchemy
*.db
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# Logs and backups
*.log
*.bak
*.swp

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Thumbs.db (Windows specific)
Thumbs.db
ehthumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/

# Pipfile.lock (if using Pipenv)
Pipfile.lock

# Pyre type checker
.pyre/

# mypy type checker
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code specific files
.vscode/

# Jetbrains specific files
.idea/
